{% extends 'data_visualization/base.html' %}
{% load static %}



{% block css_files %}
    <link rel="stylesheet" href="{% static 'data_visualization/base.css' %}"/>
    <style>
        #read-later {
            margin: 2rem 0;
          }
          #quantity input {
            background: transparent;
            border-radius:25px;
            text-transform: uppercase;
            font-weight: bold;
            width: 100px;
            margin: 0 auto;
            text-align: center
        }
        
    </style>

{% endblock %}

{% block content %}
    <div>
        <h1 style="text-align: center;">DashBoard Capex & Opex Revenue Percentage</h1>
    </div>
    <div id="read-later" style="text-align: center;">
        <form method="GET" action="{% url 'chart-revenue' %}">
           
        <div class="form-control" id="quantity">
            
            {{ form.year }}
          
            
        </div>
      
    

            <button type="submit" class="btn btn-secondary mt-2">Submit</button>
        </form>

    </div>
    <div style="border:5px solid black;" class="my-2">
        
        {{ chart_revenue|safe }}
    </div>
    <div id="read-later" style="text-align: center;">
        <a href="{% url 'chart' %}"><button type="button" class="btn btn-warning">Back DashBoard Options</button></a>
    </div>
    <form method="POST" action="{% url 'chart-logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-2">LOGOUT</button>
    </form>
{% endblock content %}